#header {
    width: 100%;
    height: auto;
    background: #009688;
    border-bottom-left-radius: 60px;
}

#page-body {
    width: 80%;
    margin: auto;
}

#logo {
    position: absolute;
    margin: 16px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}